@using EngiLearn.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link rel="icon" href="~/faviconGear.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    @*All Pages Style*@
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sections.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollbar.css" asp-append-version="true" />

    @*Courses Page Style*@
    <link rel="stylesheet" href="~/css/popUp.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/courseContent.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/filterCourses.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/imageOverlay.css" asp-append-version="true" />

    @*Font Awesome*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
    @*Google Fonts Roboto*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

</head>
<body>

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index"><img src="/svg/ruota_dentata_2_architet_01.svg" width="80" height="52"></a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2 text-secondary" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Courses" asp-action="All">Courses</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Courses" asp-action="Course">Course</a></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Courses" asp-action="MyCourses">MyCourses</a></li>
                    <li class="nav-item dropdown"><partial name="_AdminDropdownPartial" /></li>
                    <li><a class="nav-link px-2 text-white" asp-area="" asp-controller="Payments" asp-action="Calculate"><i class="fa-solid fa-cart-shopping fa-xl"></i></a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </header>

    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
    @await this.RenderSectionAsync("Styles", required: false)
</body>
</html>
